*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	height: 100%;
}

body{
	background: #F3F4E8;
	display: flex;
	flex-flow: column;
	min-height: 100%;
	font-family: 'PT Serif', serif;
	font-size: 14pt;
}

main{
	margin-bottom: auto;
	margin-top: 160px;
}

section{
	max-width: 1200px;
	margin: 0px auto;
}

header{
	background: #241023;
	color: #F3F4E8;
	padding: 40px 10px;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 10;
	width: 100%;
	transition: padding 200ms, font-size 200ms;
}

header.floating{
	padding: 10px;
	font-size: 13pt;
}

header.floating .logo .motto{
	font-size: 0;
	opacity: 0;
}

header.floating .logo img{
	height: 35px;
}

header.floating .logo h1{
	font-size: 20pt;
}

header a{
	color: inherit;
}

header section{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

header nav a{
	display: inline-block;
	padding: 5px 15px;
	text-decoration: none;
}

header nav a:hover{
	text-decoration: underline;
	color: inherit;
}

a{
	color: #6B0504;
	transition: color 200ms;
}

a:hover{
	color: #4A8C8E;
}

p{
	line-height: 1.7;
}
.logo{
	display: flex;
	align-items: center;
}

.logo img{
	height: 70px;
	width: auto;
	margin-right: 10px;
	transition: height 200ms;
}

.logo a{
	text-decoration: none;
}

.logo .motto{
	overflow: hidden;
	transition: opacity 200ms;
}

.logo h1{
	transition: all 200ms;
	color: #F9DBBD;
}

.logo a:hover{
	text-decoration: underline;
	color: inherit;
}

h1, h2, h3{
	font-family: 'Forum', cursive;
	color: #6B0504;
	font-weight: 700;
}

h1{
	font-size: 30pt;
}

h2{
	font-size: 25pt;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

h3{
	color: #241023;
	font-size: 20pt;
}

footer{
	background: #241023;
	color: #F3F4E8;
	padding: 50px 10px;
	margin-top: 80px;
	padding-bottom: 20px;
	display: flex;
}

#copyright{
	opacity: 0.6;
	clear: both;
	text-align: center;
	margin-top: 30px;
}

footer h3{
	color: #978397;
	padding-bottom: 10px;
}

footer a{
	color: inherit;
}

footer nav{
	display: flex;
	flex-flow: column;
}

footer nav a{
	margin-bottom: 5px;
	text-decoration: none;
}

footer .social{
	margin-left: 200px;
	float: right;
	display: flex;
	flex-flow: column;
}

footer .social a{
	text-decoration: none;
	display: inline-flex;
	align-items: center;
	margin-bottom: 20px;
	margin-right: auto;
}

footer .social a:last-of-type{
	margin-bottom: 0px;
}
*
footer .social i{
	font-size: 25pt;
	margin-right: 8px;
}

.button{
	border: 1px solid transparent;
	display: inline-block;
	padding: 10px 20px;
	color: white;
	background: #6B0504;
	border-radius: 1000px;
	text-decoration: none;
	transition: all 200ms;
}

.button:hover{
	background: #241023;
	color: white;
}

.button.secondary{
	color: #6B0504;
	background: transparent;
}

.button.secondary:hover{
	text-decoration: underline;
	color: #241023;
}

.button.big{
	font-size: 16pt;
	padding: 15px 25px;
	margin: 5px;
}

.card{
	background: white;
	border-radius: 5px;
	padding: 40px 30px;
	box-shadow: 1px 1px 30px rgba(0, 0, 0, 0.2);
}

.card > .action{
	text-align: center;
	padding: 20px 0px;
}

.offer{
	display: flex;
	border-bottom: 1px solid lightgray;
	padding: 50px 0px;
}

.offer .info{
	display: flex;
	flex-flow: column;
}

.offer p{
	margin: auto 0px;
}

.offer .image{
	margin-left: 15px;
	border: 4px solid white;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
	position: relative;
}

.offer .image a{
	text-decoration: none;
	display: inline-block;
	-position: absolute;
	-right: 0px;
	-bottom: 20px;
	-background: white;
	margin: 5px 10px;
	border-radius: 5px 0px 0px 5px;
}

.offer img{
	width: 400px;
	height: auto;
}

.offer.last{
	border-bottom: none;
}

.offer .basic-info{
	color: #4A8C8E;
	font-size: 15pt;
}

.offer .basic-info span{
	margin-right: 15px;
}

.offer .basic-info span *:first-of-type{
	margin-right: 5px;
}

.offer p{
	padding: 10px 0px;
}